<div class="doc-container">
    <div class="side-nav">
        <div class="bar">
            <div class="bar__content u-center">
                <input type="checkbox" id="inpSideNavToggle">
                <label class="bar__side-nav-togle" for="inpSideNavToggle"><i class="material-icons">menu</i></label>
                <nav class="nav-side">
                    <a class="nav__link" href="#">Api</a>
                    <a class="nav__link" href="#">Controllers</a>
                    <a class="nav__link" href="#">Public</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-content">
        <h1>Welcome to Docs</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolorem odit est labore magnam. Dolore nobis ipsam perspiciatis labore odit tempore cupiditate numquam error quis, repudiandae voluptas consequuntur doloremque quaerat.</p>
    </div>
</div>